In [28]:
import pandas as pd

In [44]:
w  = pd.read_json("/home/user122b/joonwon/debiasing/data/embeddings/waterbirds/RN50/embedding_prediction.json").T

In [45]:
w

,y,place,group,split,image_embedding,y_pred
001.Black_footed_Albatross/Black_Footed_Albatross_0009_34.jpg,1,1,3,0,"[0.012451171875, 0.007728576660156, 0.02249145...",0
001.Black_footed_Albatross/Black_Footed_Albatross_0074_59.jpg,1,1,3,0,"[-0.012626647949218, -0.015312194824218, 0.005...",1
001.Black_footed_Albatross/Black_Footed_Albatross_0014_89.jpg,1,1,3,0,"[-0.007156372070312, -0.007865905761718, -0.00...",1
001.Black_footed_Albatross/Black_Footed_Albatross_0031_100.jpg,1,1,3,0,"[-0.000547409057617, -0.009010314941406, 0.025...",1
001.Black_footed_Albatross/Black_Footed_Albatross_0010_796097.jpg,1,1,3,0,"[-0.002281188964843, 0.008888244628906, 0.0137...",0
...,...,...,...,...,...,...
200.Common_Yellowthroat/Common_Yellowthroat_0040_190427.jpg,0,1,1,2,"[-0.000792503356933, -0.010055541992187, -0.02...",0
200.Common_Yellowthroat/Common_Yellowthroat_0063_190440.jpg,0,1,1,2,"[0.005886077880859, 0.007251739501953001, -0.0...",0
200.Common_Yellowthroat/Common_Yellowthroat_0058_190958.jpg,0,0,0,2,"[-0.007377624511718001, 0.020462036132812, 0.0...",0
200.Common_Yellowthroat/Common_Yellowthroat_0008_190703.jpg,0,0,0,2,"[0.014640808105468, 0.001270294189453, 0.01480...",0
200.Common_Yellowthroat/Common_Yellowthroat_0055_190967.jpg,0,1,1,2,"[0.012786865234375002, 0.0130615234375, 0.0133...",0

In [51]:
for s in ['0', '1', '2']:
    print(len(w[(w['split']==s) & (w['place']=='1') & (w['y']=='1')]))

1057
133
642

In [43]:
len(w[(w['split']=='2') & (w['place']=='0') & (w['y']=='1') & (w['y_pred']=='1')]) / len(w[(w['split']=='2') & (w['y']=='1') & (w['place']=='0')])

0.3894080996884735

In [15]:
len(w[(w['split']=='2') & (w['y']=='1') & (w['place']=='0')])

642

In [56]:
c = pd.read_json("/home/user122b/joonwon/debiasing/data/embeddings_unnormalized/celeba/RN50/embedding_prediction.json").T

In [57]:
c

,blond,male,group,split,image_embedding,y_pred
000001.jpg,0,0,0,0,"[-0.016799926757812, 0.011703491210937, -0.001...",0
000002.jpg,0,0,0,0,"[-0.0244140625, 5.364418029785156e-06, 0.05282...",0
000003.jpg,0,1,1,0,"[-0.033416748046875, -0.0206298828125, -0.0043...",1
000004.jpg,0,0,0,0,"[0.015357971191406002, 0.010200500488281, -0.0...",0
000005.jpg,0,0,0,0,"[-0.03857421875, -0.026611328125, -0.002300262...",1
...,...,...,...,...,...,...
202595.jpg,1,0,2,2,"[-0.0286865234375, 0.025253295898437, 0.103759...",1
202596.jpg,1,1,3,2,"[0.008415222167968, 0.008773803710937, 0.01405...",1
202597.jpg,0,1,1,2,"[0.012748718261718, 0.021621704101562, 0.02464...",0
202598.jpg,0,0,0,2,"[0.07537841796875, 0.015251159667968, -0.02629...",0
202599.jpg,1,0,2,2,"[0.01580810546875, -0.001852989196777, 0.05526...",1

In [55]:
for s in ['0', '1', '2']:
    print(len(c[(c['split']==s) & (c['blond']=='0') & (c['male']=='0')]))

71629
8535
9767

In [36]:
len(c[(c['split']=='2') & (c['blond']=='1') & (c['male']=='1')& (c['y_pred']=='1')])

145

In [58]:
len(c[(c['split']=='2') & (c['blond']=='1') & (c['male']=='1')& (c['y_pred']=='1')])/len(c[(c['split']=='2') & (c['blond']=='1') & (c['male']=='1')])

0.8055555555555556