In [3]:
import pandas as pd

In [6]:
a  = pd.read_json("./data/embeddings/waterbirds/RN50/embedding_prediction.json").T

In [12]:
a

,y,place,group,split,image_embedding,y_pred
001.Black_footed_Albatross/Black_Footed_Albatross_0014_89.jpg,1,1,3,0,"[-0.007156372070312, -0.007865905761718, -0.00...",1
001.Black_footed_Albatross/Black_Footed_Albatross_0031_100.jpg,1,1,3,0,"[-0.000547409057617, -0.009010314941406, 0.025...",1
001.Black_footed_Albatross/Black_Footed_Albatross_0010_796097.jpg,1,1,3,0,"[-0.002281188964843, 0.008888244628906, 0.0137...",0
001.Black_footed_Albatross/Black_Footed_Albatross_0023_796059.jpg,1,1,3,0,"[-0.01800537109375, -0.013572692871093, 0.0035...",1
001.Black_footed_Albatross/Black_Footed_Albatross_0040_796066.jpg,1,1,3,0,"[-0.020736694335937, 0.004074096679687, -0.013...",0
...,...,...,...,...,...,...
200.Common_Yellowthroat/Common_Yellowthroat_0040_190427.jpg,0,0,0,2,"[-0.000792503356933, -0.010055541992187, -0.02...",0
200.Common_Yellowthroat/Common_Yellowthroat_0063_190440.jpg,0,0,0,2,"[0.005886077880859, 0.007251739501953001, -0.0...",0
200.Common_Yellowthroat/Common_Yellowthroat_0058_190958.jpg,0,0,0,2,"[-0.007377624511718001, 0.020462036132812, 0.0...",0
200.Common_Yellowthroat/Common_Yellowthroat_0008_190703.jpg,0,1,1,2,"[0.014640808105468, 0.001270294189453, 0.01480...",0
200.Common_Yellowthroat/Common_Yellowthroat_0055_190967.jpg,0,0,0,2,"[0.012786865234375002, 0.0130615234375, 0.0133...",0