In [2]:
import pandas as pd
import numpy as np

# 1. CelebA (ours, Table 2)

In [ ]:
# 5. Final : bs512, lr10 -> Best in Waterbirds..
model="results_iterative/ds_celeba_tl_adapter_reg_seq_alter_bs_512_lr_10.0_lrr10.0_bsr32_balval_MA+rn.csv"
model_df = pd.read_csv(model)

# print("Mean:", model_df.iloc[3, 1:3].to_dict())
# print("Std:", model_df.iloc[4, 1:3].to_dict())
# print("ZS-mean:", model_df.iloc[8, 3:7].mean())
# print("ZS-std:", 0.25 * np.sqrt(np.square(model_df.iloc[9, 3:7]).sum()))

print(model_df.iloc[0:2, 1:].mean().to_dict())
print(model_df.iloc[0:2, 1:].std().to_dict())
print(model_df.iloc[5:7, 1:].mean().to_dict())
print(model_df.iloc[5:7, 1:].std().to_dict())

# acc = model_df.iloc[1, 1:].to_dict()
# acc_df = pd.DataFrame(acc, index=[1])
# acc = model_df.iloc[2, 1:].to_dict()
# acc_df = pd.concat([acc_df, pd.DataFrame(acc, index=[2])])

# zs_spurious = model_df.iloc[1, 1:].to_dict()
# zs_spurious_df = pd.DataFrame(zs_spurious, index=[1])
# zs_spurious = model_df.iloc[2, 1:].to_dict()
# zs_spurious_df = pd.concat([zs_spurious_df, pd.DataFrame(zs_spurious, index=[2])])


    
# zs_spurious_df = pd.concat([zs_spurious_df, pd.DataFrame(zs_spurious_df.mean().to_dict(), index=['zs_spu_mean'])])
# zs_spurious_df = pd.concat([zs_spurious_df, pd.DataFrame(zs_spurious_df.std().to_dict(), index=['zs_spu_std'])])

{'weighted_mean_acc': 0.9129499999999999, 'worst_acc': 0.8805499999999999, 'acc_0_0': 0.9197, 'acc_0_1': 0.90725, 'acc_1_0': 0.91045, 'acc_1_1': 0.8805499999999999, 'mean_acc': 0.9135}
{'weighted_mean_acc': 0.006434671708797581, 'worst_acc': 0.01958685783886733, 'acc_0_0': 0.0022627416997969383, 'acc_0_1': 0.01506137443927353, 'acc_1_0': 0.01025304832720491, 'acc_1_1': 0.01958685783886733, 'mean_acc': 0.005656854249492385}
{'weighted_mean_acc': 0.9873, 'worst_acc': 0.8999999999999999, 'acc_0_0': 0.9927999999999999, 'acc_0_1': 0.9813000000000001, 'acc_1_0': 0.99295, 'acc_1_1': 0.8999999999999999, 'mean_acc': 0.98765}
{'weighted_mean_acc': 0.0, 'worst_acc': 0.03931513703397203, 'acc_0_0': 0.0021213203435596446, 'acc_0_1': 0.0035355339059327407, 'acc_1_0': 0.00601040764008562, 'acc_1_1': 0.03931513703397203, 'mean_acc': 7.071067811864696e-05}

### Final

In [ ]:
# 19. 
model = "results_iterative/ds_celeba_tl_adapter_reg_seq_alter_bs_1024_lr_0.1_lrr1.0_bsr4_balval_MA+rn.csv"
model_df = pd.read_csv(model)
model_df
print("Mean:", model_df.iloc[2, 1:3].to_dict())
print("Std:", model_df.iloc[3, 1:3].to_dict())
print("ZS-mean:", model_df.iloc[6, 3:7].mean())
print("ZS-std:", 0.25 * np.sqrt(np.square(model_df.iloc[7, 3:7]).sum()))
model_df.iloc[:10]

Mean: {'weighted_mean_acc': 0.9124, 'worst_acc': 0.8944}
Std: {'weighted_mean_acc': 0.0018, 'worst_acc': 0.0055}
ZS-mean: 0.9657500000000001
ZS-std: 0.01568976577263026

,Unnamed: 0,weighted_mean_acc,worst_acc,acc_0_0,acc_0_1,acc_1_0,acc_1_1,mean_acc
0,1,0.9142,0.9000,0.9172,0.9111,0.9149,0.9000,0.9144
1,2,0.9107,0.8889,0.9028,0.9141,0.9266,0.8889,0.9099
2,test_mean,0.9124,0.8944,0.9100,0.9126,0.9208,0.8944,0.9122
3,test_std,0.0018,0.0055,0.0072,0.0015,0.0058,0.0055,0.0022
4,1,0.9643,0.9358,0.9358,0.9895,0.9786,0.9833,0.9618
5,2,0.9837,0.8778,0.9974,0.9667,0.9968,0.8778,0.9847
6,zs_spu_mean,0.9740,0.9068,0.9666,0.9781,0.9877,0.9306,0.9732
7,zs_spu_std,0.0097,0.0290,0.0308,0.0114,0.0091,0.0527,0.0115
8,1,NaN,0.9560,0.9560,0.9780,0.9670,0.9780,0.9698
9,2,NaN,0.9121,0.9121,0.9780,0.9341,0.9670,0.9478

# 2. Waterbirds (Table 2) & Ablation (Table 3)

### Linear Probing

In [ ]:
# 01, Linear Probing
model="results_iterative/ds_waterbirds_tl_linear_probing_bs_512_lr_1.0.csv"
model_df = pd.read_csv(model)
print("Mean:", model_df.iloc[3, 1:3].to_dict())
print("Std:", model_df.iloc[4, 1:3].to_dict())
print("ZS-mean:", model_df.iloc[8, 3:7].mean())
print("ZS-std:", 0.25 * np.sqrt(np.square(model_df.iloc[9, 3:7]).sum()))
model_df

Mean: {'weighted_mean_acc': 0.9626, 'worst_acc': 0.596}
Std: {'weighted_mean_acc': 0.0006, 'worst_acc': 0.0063}
ZS-mean: 0.73525
ZS-std: 0.0

,Unnamed: 0,weighted_mean_acc,worst_acc,acc_0_0,acc_0_1,acc_1_0,acc_1_1,mean_acc
0,1,0.9617,0.5997,0.9911,0.6231,0.5997,0.9424,0.7991
1,2,0.9630,0.6012,0.9916,0.6310,0.6012,0.9455,0.8029
2,3,0.9630,0.5872,0.9925,0.6359,0.5872,0.9424,0.8032
3,test_mean,0.9626,0.5960,0.9917,0.6300,0.5960,0.9434,0.8017
4,test_std,0.0006,0.0063,0.0006,0.0053,0.0063,0.0015,0.0019
5,1,0.8219,0.6308,0.8377,0.6656,0.6308,0.8069,0.7444
6,2,0.8219,0.6308,0.8377,0.6656,0.6308,0.8069,0.7444
7,3,0.8219,0.6308,0.8377,0.6656,0.6308,0.8069,0.7444
8,zs_spu_mean,0.8219,0.6308,0.8377,0.6656,0.6308,0.8069,0.7444
9,zs_spu_std,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
10,1,NaN,0.5893,0.9986,0.8043,0.5893,0.9413,0.9737
11,2,NaN,0.5893,0.9991,0.8424,0.5893,0.9413,0.9756
12,3,NaN,0.6071,0.9980,0.8043,0.6071,0.9413,0.9735
13,tr_mean,NaN,0.5952,0.9986,0.8170,0.5952,0.9413,0.9743
14,tr_std,NaN,0.0084,0.0004,0.0180,0.0084,0.0000,0.0009
15,1,0.9698,0.6165,0.9957,0.6695,0.6165,0.9549,0.8224
16,2,0.9681,0.6090,0.9936,0.6695,0.6090,0.9549,0.8207
17,3,0.9718,0.6090,0.9979,0.6845,0.6090,0.9549,0.8282
18,val_mean,0.9699,0.6115,0.9957,0.6745,0.6115,0.9549,0.8238
19,val_std,0.0015,0.0035,0.0018,0.0071,0.0035,0.0000,0.0032
20,1,0.9292,0.3956,0.9805,0.7206,0.3956,0.8240,0.7972
21,2,0.9292,0.3956,0.9805,0.7206,0.3956,0.8240,0.7972
22,3,0.9292,0.3956,0.9805,0.7206,0.3956,0.8240,0.7972
23,zs_tg_mean,0.9292,0.3956,0.9805,0.7206,0.3956,0.8240,0.7972
24,zs_tg_std,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000

### ERM Adapter

In [67]:
# 0, Adapter
model="results_iterative/ds_waterbirds_tl_adapter_bs_1024_lr_10.0.csv"
model_df = pd.read_csv(model)
print("Mean:", model_df.iloc[3, 1:3].to_dict())
print("Std:", model_df.iloc[4, 1:3].to_dict())
print("ZS-mean:", model_df.iloc[8, 3:7].mean())
print("ZS-std:", 0.25 * np.sqrt(np.square(model_df.iloc[9, 3:7]).sum()))
model_df.iloc[

Mean: {'weighted_mean_acc': 0.9513, 'worst_acc': 0.677}
Std: {'weighted_mean_acc': 0.0059, 'worst_acc': 0.0258}
ZS-mean: 0.618075
ZS-std: 0.007756892096709867

,Unnamed: 0,weighted_mean_acc,worst_acc,acc_0_0,acc_0_1,acc_1_0,acc_1_1,mean_acc
0,1,0.9538,0.6492,0.9729,0.6492,0.7087,0.9564,0.8158
1,2,0.9569,0.6705,0.9800,0.6705,0.6931,0.9439,0.8238
2,3,0.9432,0.7113,0.9659,0.7113,0.7165,0.9206,0.8341
3,test_mean,0.9513,0.6770,0.9729,0.6770,0.7061,0.9403,0.8246
4,test_std,0.0059,0.0258,0.0058,0.0258,0.0097,0.0148,0.0075
5,1,0.9317,0.2169,0.9818,0.2169,0.3598,0.9206,0.6084
6,2,0.9357,0.2408,0.9880,0.2408,0.3801,0.9128,0.6215
7,3,0.9237,0.2231,0.9765,0.2231,0.3131,0.9034,0.6017
8,zs_spu_mean,0.9304,0.2269,0.9821,0.2269,0.3510,0.9123,0.6105
9,zs_spu_std,0.0050,0.0101,0.0047,0.0101,0.0281,0.0070,0.0082

In [7]:
# 1. GP-Alter
# model1 = 'results_iterative/ds_waterbirds_tl_adapter_reg_bs_512_lr_10.0_lrr10.0_bsr128_GP.csv'
# pd.read_csv(model1)
model2 = 'results_iterative/ds_waterbirds_tl_adapter_reg_bs_512_lr_10.0_lrr10.0_bsr256_GP.csv'
pd.read_csv(model2)

,Unnamed: 0,weighted_mean_acc,worst_acc,acc_0_0,acc_0_1,acc_1_0,acc_1_1,mean_acc
0,1,0.9517,0.7664,0.9698,0.8146,0.7664,0.9252,0.8819
1,2,0.9593,0.7414,0.9818,0.7654,0.7414,0.9299,0.8652
2,3,0.9241,0.8084,0.9424,0.8652,0.8084,0.8801,0.8906
3,test_mean,0.9450,0.7721,0.9647,0.8151,0.7721,0.9117,0.8792
4,test_std,0.0151,0.0276,0.0165,0.0407,0.0276,0.0225,0.0105
5,1,0.9296,0.5935,0.9135,0.9694,0.5935,0.9938,0.9087
6,2,0.9598,0.6184,0.9565,0.9477,0.6184,0.9907,0.9194
7,3,0.8319,0.4938,0.7800,0.9814,0.4938,0.9953,0.8505
8,zs_spu_mean,0.9071,0.5686,0.8833,0.9662,0.5686,0.9933,0.8929
9,zs_spu_std,0.0546,0.0538,0.0751,0.0139,0.0538,0.0019,0.0303
10,1,NaN,0.8152,0.9971,0.8152,0.9286,0.9574,0.9806
11,2,NaN,0.8036,0.9986,0.8261,0.8036,0.9593,0.9810
12,3,NaN,0.8261,0.9946,0.8261,0.8393,0.9659,0.9800
13,tr_mean,NaN,0.8150,0.9968,0.8225,0.8572,0.9609,0.9805
14,tr_std,NaN,0.0092,0.0016,0.0051,0.0526,0.0036,0.0004
15,1,0.9518,0.7463,0.9658,0.8197,0.7463,0.9394,0.8817
16,2,0.9563,0.7612,0.9744,0.7682,0.7612,0.9394,0.8667
17,3,0.9451,0.8209,0.9530,0.8670,0.8209,0.9394,0.9033
18,val_mean,0.9511,0.7761,0.9644,0.8183,0.7761,0.9394,0.8839
19,val_std,0.0046,0.0322,0.0088,0.0403,0.0322,0.0000,0.0150
20,1,0.9517,0.7664,0.9698,0.8146,0.7664,0.9252,0.8819
21,2,0.9593,0.7414,0.9818,0.7654,0.7414,0.9299,0.8652
22,3,0.9241,0.8084,0.9424,0.8652,0.8084,0.8801,0.8906
23,zs_tg_mean,0.9450,0.7721,0.9647,0.8151,0.7721,0.9117,0.8792
24,zs_tg_std,0.0151,0.0276,0.0165,0.0407,0.0276,0.0225,0.0105

In [26]:
model='results_iterative/ds_waterbirds_tl_adapter_reg_bs_512_lr_10.0_lrr10.0_bsr256_GP.csv'
model_df = pd.read_csv(model)
print(model_df.iloc[3, 1:3])
print(model_df.iloc[4, 1:3])
print(model_df.iloc[8, 3:7].mean())
print(0.25 * np.sqrt(np.square(model_df.iloc[9, 3:7]).sum()))
model_df

weighted_mean_acc     0.945
worst_acc            0.7721
Name: 3, dtype: object
weighted_mean_acc    0.0151
worst_acc            0.0276
Name: 4, dtype: object
0.85285
0.023360316243578552

,Unnamed: 0,weighted_mean_acc,worst_acc,acc_0_0,acc_0_1,acc_1_0,acc_1_1,mean_acc
0,1,0.9517,0.7664,0.9698,0.8146,0.7664,0.9252,0.8819
1,2,0.9593,0.7414,0.9818,0.7654,0.7414,0.9299,0.8652
2,3,0.9241,0.8084,0.9424,0.8652,0.8084,0.8801,0.8906
3,test_mean,0.9450,0.7721,0.9647,0.8151,0.7721,0.9117,0.8792
4,test_std,0.0151,0.0276,0.0165,0.0407,0.0276,0.0225,0.0105
5,1,0.9296,0.5935,0.9135,0.9694,0.5935,0.9938,0.9087
6,2,0.9598,0.6184,0.9565,0.9477,0.6184,0.9907,0.9194
7,3,0.8319,0.4938,0.7800,0.9814,0.4938,0.9953,0.8505
8,zs_spu_mean,0.9071,0.5686,0.8833,0.9662,0.5686,0.9933,0.8929
9,zs_spu_std,0.0546,0.0538,0.0751,0.0139,0.0538,0.0019,0.0303
10,1,NaN,0.8152,0.9971,0.8152,0.9286,0.9574,0.9806
11,2,NaN,0.8036,0.9986,0.8261,0.8036,0.9593,0.9810
12,3,NaN,0.8261,0.9946,0.8261,0.8393,0.9659,0.9800
13,tr_mean,NaN,0.8150,0.9968,0.8225,0.8572,0.9609,0.9805
14,tr_std,NaN,0.0092,0.0016,0.0051,0.0526,0.0036,0.0004
15,1,0.9518,0.7463,0.9658,0.8197,0.7463,0.9394,0.8817
16,2,0.9563,0.7612,0.9744,0.7682,0.7612,0.9394,0.8667
17,3,0.9451,0.8209,0.9530,0.8670,0.8209,0.9394,0.9033
18,val_mean,0.9511,0.7761,0.9644,0.8183,0.7761,0.9394,0.8839
19,val_std,0.0046,0.0322,0.0088,0.0403,0.0322,0.0000,0.0150
20,1,0.9517,0.7664,0.9698,0.8146,0.7664,0.9252,0.8819
21,2,0.9593,0.7414,0.9818,0.7654,0.7414,0.9299,0.8652
22,3,0.9241,0.8084,0.9424,0.8652,0.8084,0.8801,0.8906
23,zs_tg_mean,0.9450,0.7721,0.9647,0.8151,0.7721,0.9117,0.8792
24,zs_tg_std,0.0151,0.0276,0.0165,0.0407,0.0276,0.0225,0.0105

In [35]:
# 2. CP-Alter
model="results_iterative/ds_waterbirds_tl_adapter_reg_bs_512_lr_10.0_lrr10.0_bsr64_CP.csv"
model_df = pd.read_csv(model)
print("Mean:", model_df.iloc[3, 1:3].to_dict())
print("Std:", model_df.iloc[4, 1:3].to_dict())
print("ZS-mean:", model_df.iloc[8, 3:7].mean())
print("ZS-std:", 0.25 * np.sqrt(np.square(model_df.iloc[9, 3:7]).sum()))
model_df.iloc[:10]

Mean: {'weighted_mean_acc': 0.8808, 'worst_acc': 0.8507}
Std: {'weighted_mean_acc': 0.0093, 'worst_acc': 0.0107}
ZS-mean: 0.496
ZS-std: 0.00601633193898076

,Unnamed: 0,weighted_mean_acc,worst_acc,acc_0_0,acc_0_1,acc_1_0,acc_1_1,mean_acc
0,1,0.8855,0.8505,0.8949,0.9135,0.8692,0.8505,0.8944
1,2,0.8890,0.8377,0.8851,0.8377,0.8832,0.9112,0.8693
2,3,0.8678,0.8639,0.8639,0.8696,0.8754,0.8801,0.8692
3,test_mean,0.8808,0.8507,0.8813,0.8736,0.8759,0.8806,0.8776
4,test_std,0.0093,0.0107,0.0129,0.0311,0.0057,0.0248,0.0119
5,1,0.8722,0.0430,0.9517,0.0430,0.1916,0.7897,0.4959
6,2,0.8795,0.0532,0.9539,0.0532,0.1994,0.8131,0.5041
7,3,0.8594,0.0572,0.9273,0.0572,0.1604,0.8115,0.4909
8,zs_spu_mean,0.8704,0.0511,0.9443,0.0511,0.1838,0.8048,0.4970
9,zs_spu_std,0.0083,0.0060,0.0121,0.0060,0.0168,0.0107,0.0054

In [36]:
# 3, GP-Seq-MA
model="results_iterative/ds_waterbirds_tl_adapter_reg_seq_bs_1024_lr_1.0_lrr1.0_bsr64_GP_MA+rn.csv"
model_df = pd.read_csv(model)
print("Mean:", model_df.iloc[3, 1:3].to_dict())
print("Std:", model_df.iloc[4, 1:3].to_dict())
print("ZS-mean:", model_df.iloc[8, 3:7].mean())
print("ZS-std:", 0.25 * np.sqrt(np.square(model_df.iloc[9, 3:7]).sum()))
model_df.iloc[:10]

Mean: {'weighted_mean_acc': 0.9266, 'worst_acc': 0.7327}
Std: {'weighted_mean_acc': 0.0301, 'worst_acc': 0.0159}
ZS-mean: 0.9165000000000001
ZS-std: 0.014539901994167636

,Unnamed: 0,weighted_mean_acc,worst_acc,acc_0_0,acc_0_1,acc_1_0,acc_1_1,mean_acc
0,1,0.9523,0.7165,0.9725,0.7517,0.7165,0.9330,0.8538
1,2,0.8843,0.7543,0.8847,0.7543,0.8364,0.9081,0.8312
2,3,0.9432,0.7273,0.9650,0.7273,0.7523,0.9190,0.8438
3,test_mean,0.9266,0.7327,0.9407,0.7444,0.7684,0.9200,0.8429
4,test_std,0.0301,0.0159,0.0397,0.0122,0.0503,0.0102,0.0092
5,1,0.9734,0.8785,0.9805,0.8856,0.8785,0.9704,0.9311
6,2,0.9567,0.7477,0.9570,0.9264,0.7477,0.9720,0.9235
7,3,0.9680,0.8380,0.9747,0.9029,0.8380,0.9642,0.9304
8,zs_spu_mean,0.9660,0.8214,0.9707,0.9050,0.8214,0.9689,0.9283
9,zs_spu_std,0.0070,0.0547,0.0100,0.0167,0.0547,0.0034,0.0034

In [49]:
# 4, CP-Seq-MA
model="results_iterative/ds_waterbirds_tl_adapter_reg_seq_bs_512_lr_10.0_lrr10.0_bsr256_CP_MA+rn.csv"
model_df = pd.read_csv(model)
print("Mean:", model_df.iloc[3, 1:3].to_dict())
print("Std:", model_df.iloc[4, 1:3].to_dict())
print("ZS-mean:", model_df.iloc[8, 3:7].mean())
print("ZS-std:", 0.25 * np.sqrt(np.square(model_df.iloc[9, 3:7]).sum()))
model_df.iloc[:10]

Mean: {'weighted_mean_acc': 0.902, 'worst_acc': 0.8535}
Std: {'weighted_mean_acc': 0.013, 'worst_acc': 0.0027}
ZS-mean: 0.48669999999999997
ZS-std: 0.03275620170288368

,Unnamed: 0,weighted_mean_acc,worst_acc,acc_0_0,acc_0_1,acc_1_0,acc_1_1,mean_acc
0,1,0.9173,0.8567,0.9370,0.9051,0.8660,0.8567,0.9078
1,2,0.9031,0.8501,0.9135,0.8501,0.8614,0.8801,0.8794
2,3,0.8856,0.8536,0.8949,0.8976,0.8738,0.8536,0.8890
3,test_mean,0.9020,0.8535,0.9151,0.8843,0.8671,0.8635,0.8921
4,test_std,0.0130,0.0027,0.0172,0.0244,0.0051,0.0118,0.0118
5,1,0.8522,0.0417,0.9663,0.0417,0.1885,0.6511,0.4853
6,2,0.8283,0.1090,0.8581,0.1645,0.1090,0.8832,0.5079
7,3,0.8435,0.1104,0.8865,0.1104,0.1137,0.8676,0.4967
8,zs_spu_mean,0.8413,0.0870,0.9036,0.1055,0.1371,0.8006,0.4966
9,zs_spu_std,0.0099,0.0321,0.0458,0.0503,0.0364,0.1059,0.0092

### Ours (GCP-Seq-MA)
search keywork below "ds_waterbirds_tl_adapter_reg_seq_alter_bs_1024_lr_1.0_lrr1.0_bsr512_MA+rn.csv", in the results_waterbirds.out

In [10]:
# 5, GP/CP-Seq-MA(csv는 날라가서 wb5.out 보고 결정.)
model="results_iterative/ds_waterbirds_tl_adapter_reg_seq_alter_bs_1024_lr_1.0_lrr1.0_bsr512_MA+rn.csv"
# test_mean               0.9006     0.8625   0.9061
# test_std                0.0086     0.0160   0.0124
mean={'weighted_mean_acc': 0.8907, 'worst_acc': 0.8738, 'acc_0_0': 0.89, 'acc_0_1': 0.8798, 'acc_1_0': 0.8738, 'acc_1_1': 0.8956, 'mean_acc': 0.8849}
mean_df = pd.DataFrame(mean, index=[1])
mean={'weighted_mean_acc': 0.8994, 'worst_acc': 0.8738, 'acc_0_0': 0.9082, 'acc_0_1': 0.8776, 'acc_1_0': 0.8738, 'acc_1_1': 0.8754, 'mean_acc': 0.8889}
mean_df = pd.concat([mean_df, pd.DataFrame(mean, index=[2])])
mean={'weighted_mean_acc': 0.9116, 'worst_acc': 0.8399, 'acc_0_0': 0.9202, 'acc_0_1': 0.8399, 'acc_1_0': 0.8567, 'acc_1_1': 0.8988, 'mean_acc': 0.8795}
mean_df = pd.concat([mean_df, pd.DataFrame(mean, index=[3])])
mean_df = pd.concat([mean_df, pd.DataFrame(mean_df.mean().to_dict(), index=['mean'])])
mean_df = pd.concat([mean_df, pd.DataFrame(mean_df.std().to_dict(), index=['std'])])

print(mean_df)
    
# zs_spu_mean             0.9696     0.8738   0.9829  ...   0.9060   0.9450    0.9294
# zs_spu_std              0.0048     0.0089   0.0008  ...   0.0293   0.0240    0.0037
     
zs_spurious = {'weighted_mean_acc': 0.9725, 'worst_acc': 0.8838, 'acc_0_0': 0.9823, 'acc_0_1': 0.8838, 'acc_1_0': 0.8972, 'acc_1_1': 0.9595, 'mean_acc': 0.932}
zs_spurious_df = pd.DataFrame(zs_spurious, index=[1])
zs_spurious = {'weighted_mean_acc': 0.9734, 'worst_acc': 0.8754, 'acc_0_0': 0.9823, 'acc_0_1': 0.8887, 'acc_1_0': 0.8754, 'acc_1_1': 0.9642, 'mean_acc': 0.932}
zs_spurious_df = pd.concat([zs_spurious_df, pd.DataFrame(zs_spurious, index=[2])])
zs_spurious = {'weighted_mean_acc': 0.9629, 'worst_acc': 0.8621, 'acc_0_0': 0.984, 'acc_0_1': 0.8621, 'acc_1_0': 0.9455, 'acc_1_1': 0.9112, 'mean_acc': 0.9242}
zs_spurious_df = pd.concat([zs_spurious_df, pd.DataFrame(zs_spurious, index=[3])])
    
zs_spurious_df = pd.concat([zs_spurious_df, pd.DataFrame(zs_spurious_df.mean().to_dict(), index=['zs_spu_mean'])])
zs_spurious_df = pd.concat([zs_spurious_df, pd.DataFrame(zs_spurious_df.std().to_dict(), index=['zs_spu_std'])])


print("ZS-mean:", zs_spurious_df.iloc[3, 2:6].mean())
print("ZS-std:", 0.25 * np.sqrt(np.square(zs_spurious_df.iloc[4, 2:6]).sum()))
zs_spurious_df

      weighted_mean_acc  worst_acc   acc_0_0   acc_0_1   acc_1_0   acc_1_1
1              0.890700   0.873800  0.890000  0.879800  0.873800  0.895600  \
2              0.899400   0.873800  0.908200  0.877600  0.873800  0.875400
3              0.911600   0.839900  0.920200  0.839900  0.856700  0.898800
mean           0.900567   0.862500  0.906133  0.865767  0.868100  0.889933
std            0.008572   0.015981  0.012415  0.018313  0.008061  0.010359

      mean_acc
1     0.884900
2     0.888900
3     0.879500
mean  0.884433
std   0.003852
ZS-mean: 0.9280166666666667
ZS-std: 0.009893305817571803

,weighted_mean_acc,worst_acc,acc_0_0,acc_0_1,acc_1_0,acc_1_1,mean_acc
1,0.972500,0.883800,0.982300,0.883800,0.897200,0.959500,0.932000
2,0.973400,0.875400,0.982300,0.888700,0.875400,0.964200,0.932000
3,0.962900,0.862100,0.984000,0.862100,0.945500,0.911200,0.924200
zs_spu_mean,0.969600,0.873767,0.982867,0.878200,0.906033,0.944967,0.929400
zs_spu_std,0.004752,0.008934,0.000801,0.011559,0.029292,0.023954,0.003677

In [59]:
# 8, GP/CP-Seq
model="results_iterative/ds_waterbirds_tl_adapter_reg_seq_alter_bs_512_lr_10.0_lrr10.0_bsr256.csv"
model_df = pd.read_csv(model)
print("Mean:", model_df.iloc[3, 1:3].to_dict())
print("Std:", model_df.iloc[4, 1:3].to_dict())
print("ZS-mean:", model_df.iloc[8, 3:7].mean())
print("ZS-std:", 0.25 * np.sqrt(np.square(model_df.iloc[9, 3:7]).sum()))
model_df.iloc[:10]

Mean: {'weighted_mean_acc': 0.8849, 'worst_acc': 0.8515}
Std: {'weighted_mean_acc': 0.0138, 'worst_acc': 0.0175}
ZS-mean: 0.8298500000000001
ZS-std: 0.08842936093289377

,Unnamed: 0,weighted_mean_acc,worst_acc,acc_0_0,acc_0_1,acc_1_0,acc_1_1,mean_acc
0,1,0.8910,0.8310,0.8958,0.8310,0.8785,0.8863,0.8676
1,2,0.8979,0.8738,0.9060,0.8816,0.8988,0.8738,0.8921
2,3,0.8658,0.8497,0.8652,0.8497,0.8972,0.8692,0.8631
3,test_mean,0.8849,0.8515,0.8890,0.8541,0.8915,0.8764,0.8743
4,test_std,0.0138,0.0175,0.0173,0.0209,0.0092,0.0072,0.0127
5,1,0.9641,0.6953,0.9911,0.6953,0.7150,0.9346,0.8391
6,2,0.9747,0.8967,0.9831,0.8967,0.9034,0.9642,0.9386
7,3,0.8883,0.1168,0.8692,0.8980,0.1168,0.9907,0.8105
8,zs_spu_mean,0.9424,0.5696,0.9478,0.8300,0.5784,0.9632,0.8627
9,zs_spu_std,0.0385,0.3306,0.0557,0.0952,0.3353,0.0229,0.0549

In [60]:
# 9, GP-Seq 
model="results_iterative/ds_waterbirds_tl_adapter_reg_seq_bs_1024_lr_10.0_lrr10.0_bsr64_GP.csv"
model_df = pd.read_csv(model)
print("Mean:", model_df.iloc[3, 1:3].to_dict())
print("Std:", model_df.iloc[4, 1:3].to_dict())
print("ZS-mean:", model_df.iloc[8, 3:7].mean())
print("ZS-std:", 0.25 * np.sqrt(np.square(model_df.iloc[9, 3:7]).sum()))
model_df.iloc[:10]

Mean: {'weighted_mean_acc': 0.9042, 'worst_acc': 0.7707}
Std: {'weighted_mean_acc': 0.0266, 'worst_acc': 0.0547}
ZS-mean: 0.9245
ZS-std: 0.012609668909214073

,Unnamed: 0,weighted_mean_acc,worst_acc,acc_0_0,acc_0_1,acc_1_0,acc_1_1,mean_acc
0,1,0.8774,0.7103,0.9268,0.9273,0.7819,0.7103,0.8870
1,2,0.8947,0.8427,0.9086,0.8470,0.8427,0.8598,0.8719
2,3,0.9404,0.7592,0.9619,0.7592,0.7773,0.9097,0.8567
3,test_mean,0.9042,0.7707,0.9324,0.8445,0.8006,0.8266,0.8719
4,test_std,0.0266,0.0547,0.0221,0.0686,0.0298,0.0847,0.0124
5,1,0.9655,0.8164,0.9876,0.8164,0.9548,0.9190,0.9097
6,2,0.9710,0.8510,0.9805,0.8510,0.8723,0.9657,0.9165
7,3,0.9671,0.8670,0.9827,0.8670,0.9642,0.9330,0.9301
8,zs_spu_mean,0.9679,0.8448,0.9836,0.8448,0.9304,0.9392,0.9188
9,zs_spu_std,0.0023,0.0211,0.0030,0.0211,0.0413,0.0196,0.0085

In [64]:
# 10, CP-Seq
model="results_iterative/ds_waterbirds_tl_adapter_reg_seq_bs_512_lr_10.0_lrr10.0_bsr512_CP.csv"
model_df = pd.read_csv(model)
print("Mean:", model_df.iloc[3, 1:3].to_dict())
print("Std:", model_df.iloc[4, 1:3].to_dict())
print("ZS-mean:", model_df.iloc[8, 3:7].mean())
print("ZS-std:", 0.25 * np.sqrt(np.square(model_df.iloc[9, 3:7]).sum()))
model_df.iloc[:10]

Mean: {'weighted_mean_acc': 0.8737, 'worst_acc': 0.8557}
Std: {'weighted_mean_acc': 0.0103, 'worst_acc': 0.0051}
ZS-mean: 0.494
ZS-std: 0.020793102822811223

,Unnamed: 0,weighted_mean_acc,worst_acc,acc_0_0,acc_0_1,acc_1_0,acc_1_1,mean_acc
0,1,0.8877,0.8629,0.8945,0.9042,0.8801,0.8629,0.8932
1,2,0.8701,0.8520,0.8741,0.8909,0.8988,0.8520,0.8809
2,3,0.8632,0.8523,0.8523,0.8878,0.9112,0.8925,0.8771
3,test_mean,0.8737,0.8557,0.8736,0.8943,0.8967,0.8691,0.8837
4,test_std,0.0103,0.0051,0.0172,0.0071,0.0128,0.0171,0.0069
5,1,0.8711,0.0319,0.9729,0.0319,0.2726,0.7118,0.5002
6,2,0.8635,0.0506,0.9424,0.0506,0.1760,0.7804,0.4924
7,3,0.8648,0.0705,0.9220,0.0705,0.1449,0.8520,0.4967
8,zs_spu_mean,0.8665,0.0510,0.9458,0.0510,0.1978,0.7814,0.4964
9,zs_spu_std,0.0033,0.0158,0.0209,0.0158,0.0544,0.0572,0.0032

In [62]:
# 11,Cp/GP-Seq-MA-continue_from_best-worst-acc
model="results_iterative/ds_waterbirds_tl_adapter_reg_seq_alter_bs_512_lr_10.0_lrr10.0_bsr256_MA+rn.csv"
model_df = pd.read_csv(model)
print("Mean:", model_df.iloc[3, 1:3].to_dict())
print("Std:", model_df.iloc[4, 1:3].to_dict())
print("ZS-mean:", model_df.iloc[8, 3:7].mean())
print("ZS-std:", 0.25 * np.sqrt(np.square(model_df.iloc[9, 3:7]).sum()))
model_df.iloc[:10]

Mean: {'weighted_mean_acc': 0.891, 'worst_acc': 0.8536}
Std: {'weighted_mean_acc': 0.0062, 'worst_acc': 0.0144}
ZS-mean: 0.8510249999999999
ZS-std: 0.007053855328825508

,Unnamed: 0,weighted_mean_acc,worst_acc,acc_0_0,acc_0_1,acc_1_0,acc_1_1,mean_acc
0,1,0.8824,0.8736,0.8798,0.8736,0.8832,0.8925,0.8792
1,2,0.8964,0.8474,0.9051,0.8763,0.8474,0.8738,0.8840
2,3,0.8943,0.8399,0.8980,0.8399,0.8723,0.8925,0.8719
3,test_mean,0.8910,0.8536,0.8943,0.8633,0.8676,0.8863,0.8784
4,test_std,0.0062,0.0144,0.0107,0.0166,0.0150,0.0088,0.0050
5,1,0.9605,0.5530,0.9605,0.9104,0.5530,0.9907,0.8992
6,2,0.9615,0.5249,0.9623,0.9126,0.5249,0.9907,0.8977
7,3,0.9661,0.5779,0.9729,0.8767,0.5779,0.9798,0.8925
8,zs_spu_mean,0.9627,0.5519,0.9652,0.8999,0.5519,0.9871,0.8965
9,zs_spu_std,0.0024,0.0217,0.0055,0.0164,0.0217,0.0051,0.0029

In [63]:
# 12, Cp/GP-Seq-MA-continue_balance_val
model="results_iterative/ds_waterbirds_tl_adapter_reg_seq_alter_bs_1024_lr_1.0_lrr1.0_bsr512_balval_MA+rn.csv"
model_df = pd.read_csv(model)
print("Mean:", model_df.iloc[3, 1:3].to_dict())
print("Std:", model_df.iloc[4, 1:3].to_dict())
print("ZS-mean:", model_df.iloc[8, 3:7].mean())
print("ZS-std:", 0.25 * np.sqrt(np.square(model_df.iloc[9, 3:7]).sum()))
model_df.iloc[:10]

Mean: {'weighted_mean_acc': 0.8894, 'worst_acc': 0.8511}
Std: {'weighted_mean_acc': 0.0206, 'worst_acc': 0.0091}
ZS-mean: 0.81275
ZS-std: 0.01635517884341226

,Unnamed: 0,weighted_mean_acc,worst_acc,acc_0_0,acc_0_1,acc_1_0,acc_1_1,mean_acc
0,1,0.9123,0.8386,0.9228,0.8386,0.8411,0.8941,0.8778
1,2,0.8934,0.8550,0.8980,0.8550,0.8629,0.8863,0.8761
2,3,0.8624,0.8598,0.8625,0.8670,0.8925,0.8598,0.8673
3,test_mean,0.8894,0.8511,0.8944,0.8535,0.8655,0.8801,0.8737
4,test_std,0.0206,0.0091,0.0247,0.0116,0.0211,0.0147,0.0046
5,1,0.9702,0.4735,0.9831,0.8018,0.4735,0.9829,0.8561
6,2,0.9559,0.3738,0.9565,0.9135,0.3738,0.9922,0.8792
7,3,0.9643,0.4143,0.9672,0.8993,0.4143,0.9953,0.8826
8,zs_spu_mean,0.9635,0.4205,0.9689,0.8715,0.4205,0.9901,0.8726
9,zs_spu_std,0.0059,0.0409,0.0109,0.0496,0.0409,0.0053,0.0118